<!DOCTYPE html>
<html>
  <head>
    <title>GithubWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    変更しました
    変更しましたパート２
    やってやりましたよ！
    やってやりました
    やっちゃいました
    やったった
<<<<<<< HEAD
=======
    やりー
>>>>>>> 35e9b648e71ac6a082dbcd8a06390186b8ca453a
    <%= yield %>
  </body>
</html>
